body {
  width: 1920px;
  height: 949px;
}


/* 登录 */
.login-form {
  margin-left: 40%;
  margin-top: 15%;
  width: 300px;

}

.login-form-register {
  float: right;
}

.login-form-button {
  width: 100%;
}

.login-form-input-captcha {
  width: 60%;
}

.login-form-button-captcha {
  width: 40%;
}

/* 注册 */
.registration-form{
  margin-left: 20%;
  margin-top: 10%;
  width: 800px;
}

.registration-form-input-captcha {
  width: 60%;
}

.registration-form-button-captcha {
  width: 40%;
}

.registration-form-button-left {
  width: 40%;
  margin-right: 20%;
}

.registration-form-button-right {
  width: 40%;
}

/* 忘记密码 */
.forget-form{
  margin-left: 25%;
  margin-top: 10%;
  width: 700px;
}

.forget-form-input-captcha {
  width: 60%;
}

.forget-form-button-captcha {
  width: 40%;
}

.forget-form-button-left {
  width: 40%;
  margin-right: 20%;
}

.forget-form-button-right {
  width: 40%;
}

/* 用户界面*/
.icon {
  color: #fff;
  font-size: 20px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

.head-font {
  color: #fff;
  font-size: 20px;
  font-family: 'Hiragino Sans GB', Georgia, serif;
}

.table-font {
  font-weight: bold;
  font-size: 20px;
  font-family: 'Hiragino Sans GB', Georgia, serif;
}

.ant-radio-button-wrapper-disabled.ant-radio-button-wrapper-checked{
  color: #fff;
  background-color: #1890ff;
  border-color: #1890ff;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 60px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.logo {
  height: 32px;
  background: #333;
  border-radius: 6px;
  margin: 16px;
}

.ant-layout-sider-collapsed .anticon {
  font-size: 16px;
}

.ant-layout-sider-collapsed .nav-text {
  display: none;
}

.switch-ico {
  float: left;
  background: url(//img.alicdn.com/tps/i1/T1wX7cFgleXXcQCr6q-85-21.png) no-repeat 0 0;
  width: 40px;
  height: 30px;
  margin: 9px 0 0 0;
}

.calendar-text {
  position: absolute;
  cursor: text;
  top: 50%;
  right: 40px;
  height: 15px;
  color: #A1A1A1;
  overflow: hidden;
  margin-top: -6px;
  font: 400 12px/15px Arial
}

.arrow-ico {
  padding: 0 6px;
  background: url(//img.alicdn.com/tps/i1/T1TwTxFbXgXXa.hdbX-19-6.png) no-repeat center;
}

.left-ticket-ico {
  margin-left: 3px;
  background: url(//img.alicdn.com/tps/i3/T11.hTFe8eXXXNx3Td-33-41.png) 0 -13px;
  display: inline-block;
  width: 33px;
  height: 13px;
}

.movie-card {
  width: 240px;
  float:left;
  margin-left:25px;
  margin-bottom:25px;
}

.movie-head {
  display: inline-block;
  font-weight: bold;
  margin-left:25px;
  margin-right:15px;
}

.tab-title{
  padding: 0 0 10px 20px;
  margin-top: 10px;
}

.tab-title .on {
  background-color: #1890ff;
  color: #fff;
  padding: 2px 8px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.tab-title span {
  margin-right: 20px;
  color: #1890ff;
  cursor: pointer;
}

.tab-content {
  width: 310px;
  text-align: left;
}

.tab-content span {
  margin: 0 10px 0 0;
  color: #2E7AB3;
  white-space: nowrap;
  display: inline-block;
  line-height: 2em;
}
.tab-content-mod{
  border-bottom: 1px solid #eee;
  margin: 5px 0 0 0;
  padding-bottom: 5px;
}

.container {
  width: 500px;
  margin: 0 auto;
}

.tags-panel {
  border: 1px solid #e5e5e5;
  padding: 0 20px;
  position: relative;
}

.tags-line {
  padding: 10px 0!important;
}

.tags-title {
  font-weight: bold;
  padding: 2px 0 0 0;
  height: 24px;
  line-height: 24px;
  float: left;
  color: #999;
  font-size: 14px;
}

.tags-panel li, .tags-panel ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.tags-panel ul.tags {
  margin-left: 40px;
}

.tags li.active {
  background: #1890ff;
  color: #fff;
}

.tags li.active a {
  color: #fff;
}

.tags li.normal a {
  color: #000000;
}

.tags li {
  border-radius: 14px;
  padding: 3px 9px;
  display: inline-block;
  margin-left: 12px;
}

.tags-line-border {
  border-top: 1px dashed #e5e5e5;
}

.tags-button {
  font-weight: bold;
  float:right;
  margin: 13px 0 0 0;
  display: inline-block;
}

.movie-info span{
  display:block;
  margin-bottom: 5px;
  font-size: 18px;
}

.clear-fix {
  display: block;
}

.rating_num {
  color: #494949;
  padding: 0;
  min-width: 30%;
  font-size: 55px;
  float: left;
}

.rating_self {
  padding: 0;
  line-height: 2;
}

.star {
  display: inline-block;
  zoom: 1;
  margin: 1px 0 0 0;
  overflow: hidden;
}

.rating_sum {
  font-size: 20px;
}

.item{
  height: 30px;
  margin-bottom: 20px;
}


.star-stop {
  font-size: 20px;
  float: left;
  margin-right: 5px;
}

.power {
  height: 30px;
  float: left;
  margin: 1px 4px;
  background: #ffd596 none repeat scroll 0 0;
}

.rating_per {
  font-size: 20px;
}

.user-list .ant-list-split .ant-list-item:last-child {
  border: 4px solid #e8e8e8;

}

.user-list .ant-list-vertical .ant-list-item-meta {
  height: 10px;
  margin-bottom: 8px;
}

.user-list .ant-list-vertical .ant-list-item-main {
  display: block;
  flex: 1 1;
  margin-bottom: 15px;
  margin-top: 15px;
  margin-left: 30px;
}

.user-list .ant-list-vertical .ant-list-item-content {
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  margin-bottom: 35px;
}

.user-list .ant-list-grid .ant-list-item {
  border-bottom: none;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.user-list .ant-list-vertical .ant-list-item-extra {
  margin-left: 58px;
}

.user-list .ant-col-12 {
  display: block;
  width: 50%;
  margin-left:-4px;
  margin-top:-4px
}

.user-list .ant-list-item-action{
  font-size: 0;
  flex: 0 0 auto;
  padding: 0;
  margin-top: 30px;
  list-style: none;
}

.user-list {
  margin-left:10px
}

.manage-form .ant-form-item-control-wrapper{
  width:200px;
  height:40px;
  display: inline-block;
}

.manage-form .ant-form-item {
  font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  height: 30px;
  color: rgba(0, 0, 0, 0.65);
  padding: 0;
  list-style: none;
  margin-bottom: 8px;
  vertical-align: top;
}

.manage-form .ant-form-explain {
  color: rgba(255, 0, 0, 1);
  line-height: 1.5;
  transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  clear: both;
  display: inline-block;
  margin-left: 210px;
  width: 200px;
  margin-top: 24px;
}



.user-left{
  float: left;
  width: 600px;
  /*border-right: 1px solid #BDBDBD;*/
}

.user-right{
  margin-left:620px;
}


.ant-upload-select-picture-card i {
  font-size: 32px;
  color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
}

.edit-form-button {
  width: 40%;
  margin-left: -10%;
}

.confirm-form-button {
  width: 40%;
  margin-right:20%;
}

.delete-form-button {
  width: 40%;
}
